h2{
    font-family: monospace;
    font-weight:bold;
    font-size: 30px;
    text-align: center;  
    text-decoration: none;
    color:black;
}
/*--------------------------------------------*/
#navegador{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    front-size: 16px;
    front-weight: bold;
    padding: 10px 0;
    z-index: 9998;
}

#cuadros {
    list-style-type: none;
    margin: 0 ;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#cuadros li {
  width: 120px;
  height: 80px;
  line-height: 60px;
  text-align: center;
}


#cuadros li:first-child {
  background-image: url('media/images/LogoDraculaBanner.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 120px;
  height: 80px;
  margin: 0 auto;
}


#rayitalado{
    float: left;
    border-right: 1px solid #bbb;
}

#links{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

#links:hover {
    background-color: #111;
}

/*--------------------------------------------*/

#campaña{
    font-family: monospace;
    font-weight:bold;
    font-size: 15px;
    text-align: center;
    
    background-color: black;
    color:white;

    width: 125px;
    padding: 16px 16px;

    position: fixed;
    right: 20px;
    top: 25px;

    z-index: 9999;
}

#navegadorC{
    border-top: 1px solid #bbb;
    background-color: black;
    margin: 0;
    padding: 0;
}

#linkN{
    display: block;
    color: white;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}

/*--------------------------------------------*/
#navegador2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    front-size: 16px;
    front-weight: bold;
    padding: 10px 0;
    z-index: 9998;
}
#cuadros li:first-child {
  background-image: url('media/images/LogoDraculaBanner.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 120px;
  height: 80px;
  margin: 0 auto;
}

/*--------------------------------------------*/

#grito {
    color: #644400;
    font-size: 20px;
    font-family: monospace;
    font-weight:bold;
}

/*--------------------------------------------*/
#TablaContribuciones{
    font-family: monospace;
    font-size: 15px;
    text-align: center;

    width: 600px;
    padding: 16px 16px;
    margin: auto;
}
th{ /*COLORES A CAMBIAR POR UNOS Q PEGUEN MÁS*/
    border: 1px solid black;
    padding: 5px 5px;
    color: white;/* <-- */
    background-color: #BB9178;/* <-- */
}
td{
    border: 1px solid black;
    padding: 5px 5px;
    background-color: #F3DFC2;/* <-- */
}

/*--------------------------------------------*/
#metas{
    font-family: monospace;
    font-size: 15px;
    text-align: left;
    padding: 0% 25%;
    margin: auto;
}
/*--------------------------------------------*/
#DescripcionHistoria{
    font-family: monospace;
    font-weight:bold; 
    color: #644400;
    width: 50%;
    text-align:center;
    margin: auto;
    font-size: 20px;
}

/*--------------------------------------------*/

#footerPP{
    font-family: monospace;
    font-weight:bold;
    text-align: center;
    font-size: 20px;
    background-color: black;
    color:white;
}