#DescripcionPP{
    font-family: monospace;
    font-weight:bold; 
    color: #644400;
    width: 50%;
    text-align:center;
    margin: auto;
    font-size: 35px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
li a:hover {
    background-color: #111;
}

#grito {
    color: #644400;
    font-size: 85px;
    font-family: monospace;
    font-weight:bold;
}

#campaña{
    font-family: monospace;
    font-weight:bold;
    font-size: 15px;
    text-align: center;
    
    background-color: black;
    color:white;

    width: 110px;
    padding: 16px 16px;

    position: fixed;
    right: 20px;
    top: 60px;
}
#navegadorC{
    border-top: 1px solid #bbb;
    background-color: black;
}
p a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

#footerPP{
    font-family: monospace;
    font-weight:bold;
    text-align: center;
    font-size: 20px;
    background-color: black;
    color:white;
}